---
interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

<div class="tag-list">
  {tags.map(tag => (
    <a href={`/tags/${tag}/`} class="tag">{tag}</a>
  ))}
</div>

<style>
  .tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
  }
</style>
